<footer class="footer__container">
  <div class="footer__menu">
    <div class="menu__box">
      <a href="/" class="">
        <i class="fa fa-home icon__size" aria-hidden="true"></i>
        <p>Home</p></a
      >
    </div>

    <div class="menu__box">
      <a href="comment">
        <i class="fa fa-commenting icon__size" aria-hidden="true"></i>
        <p>Your Voice</p></a
      >
    </div>
    <div class="menu__box">
      <a href="vote">
        <i class="fa fa-check-to-slot icon__size"></i>
        <p>Vote here.</p></a
      >
    </div>
    <div class="menu__box">
      <a href="news">
        <i class="fa-solid fa-newspaper icon__size"></i>
        <p>News</p></a
      >
    </div>
  </div>
</footer>
 <script src="app.js"></script>
  </body>
</html>
