<%- include('header'); -%>
<!-- this display the slide -->
<section><%- include('slide'); -%></section>
<!-- this display the candidate details -->
<section><%- include('candidate'); -%></section>

<!-- this display the footer -->
<section><%- include('footer'); -%></section>
